csharp/database/DB_Book_WebStudent/DBProjects/Chapter 9/WinClientSQLSelect/WinClientSQLSelect/Web References/WS_SQLSelect/WebServiceSQLSelect.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.ieee.org/9780521712354/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.ieee.org/9780521712354/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ieee.org/9780521712354/">
      <s:element name="GetSQLSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacultyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLSelectResult" type="tns:SQLSelectResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SQLSelectResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SQLSelectBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="FacultyID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FacultyOffice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FacultyPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FacultyCollege" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FacultyTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FacultyEmail" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SQLSelectBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SQLRequestOK" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SQLRequestError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSQLSelectSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacultyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLSelectSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLSelectSPResult" type="tns:SQLSelectResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLSelectDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FacultyName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSQLSelectDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSQLSelectDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSQLSelectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQLSelect" />
  </wsdl:message>
  <wsdl:message name="GetSQLSelectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLSelectResponse" />
  </wsdl:message>
  <wsdl:message name="GetSQLSelectSPSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQLSelectSP" />
  </wsdl:message>
  <wsdl:message name="GetSQLSelectSPSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLSelectSPResponse" />
  </wsdl:message>
  <wsdl:message name="GetSQLSelectDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetSQLSelectDataSet" />
  </wsdl:message>
  <wsdl:message name="GetSQLSelectDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetSQLSelectDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSQLSelectSoap">
    <wsdl:operation name="GetSQLSelect">
      <wsdl:input message="tns:GetSQLSelectSoapIn" />
      <wsdl:output message="tns:GetSQLSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectSP">
      <wsdl:input message="tns:GetSQLSelectSPSoapIn" />
      <wsdl:output message="tns:GetSQLSelectSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectDataSet">
      <wsdl:input message="tns:GetSQLSelectDataSetSoapIn" />
      <wsdl:output message="tns:GetSQLSelectDataSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSQLSelectSoap" type="tns:WebServiceSQLSelectSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSQLSelect">
      <soap:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectSP">
      <soap:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelectSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectDataSet">
      <soap:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelectDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSQLSelectSoap12" type="tns:WebServiceSQLSelectSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSQLSelect">
      <soap12:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectSP">
      <soap12:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelectSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSQLSelectDataSet">
      <soap12:operation soapAction="http://www.ieee.org/9780521712354/GetSQLSelectDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceSQLSelect">
    <wsdl:port name="WebServiceSQLSelectSoap" binding="tns:WebServiceSQLSelectSoap">
      <soap:address location="http://localhost:1206/WebServiceSQLSelect/WebServiceSQLSelect.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSQLSelectSoap12" binding="tns:WebServiceSQLSelectSoap12">
      <soap12:address location="http://localhost:1206/WebServiceSQLSelect/WebServiceSQLSelect.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>